@charset "utf-8";

/**
 * main.scss
 * @author Cc 
 * @date 2016-12-16
 *
 */


/* compass Helper */

@import "compass";

/* mixin */

@import "_mixin";

/* reset 重置样式 */

@import "_reset";

/* base 基础样式，一般改这个，看不同项目的需要 */

@import "_base";

/* 设计稿宽度，默认750px，按实际设置，这样下面用到的px2rem方法所需的参数值都是设计稿上量度的px值 */

$design-width: 2001px;

/* 具体样式 */

%wrapBorder {
    content: '';
    position: absolute;
    width: px2rem(40px);
    height: px2rem(40px);
    background: url(../images/icon_border@3x.png) no-repeat;
    background-size: px2rem(80px);
}

.g_bd {
    position: absolute;
    top: 50%;
    left: 50%;
    width: px2rem(1386px);
    // height: px2rem(924px);
    margin: px2rem(-924px/2 0px 0px -1386px/2);
    background: rgba(126, 255, 255, .15);
    border-radius: px2rem(8px);
    &:before,
    &:after {
        @extend %wrapBorder;
        top: px2rem(-3px);
    }
    &:before {
        left: px2rem(-3px);
        background-position: left top;
    }
    &:after {
        right: px2rem(-3px);
        background-position: right top;
    }
}

.g_bd_wrap {
    position: relative;
    margin: px2rem(13px);
    background: rgba(14, 41, 68, 1);
    border: #7effff solid px2rem(6px);
    border-radius: px2rem(16px);
    &:before,
    &:after {
        @extend %wrapBorder;
        bottom: px2rem(-22px);
    }
    &:before {
        left: px2rem(-22px);
        background-position: left bottom;
    }
    &:after {
        right: px2rem(-22px);
        background-position: right bottom;
    }
}

.m_title {
    width: px2rem(595px);
    height: px2rem(123px);
    margin: px2rem(-123px/2) auto 0;
    background: url(../images/bg_title@3x.png) no-repeat;
    background-size: contain;
    line-height: px2rem(110px);
    text-align: center;
    font-size: px2rem(50px);
    color: #fff;
}

.m_introduce {
    text-align: center;
    .countDown {
        margin: px2rem(20px 0px 10px);
        font-size: px2rem(48px);
    }
    .text {
        margin: px2rem(0px 52px 25px);
        font-size: px2rem(30px);
    }
}

.m_list {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.m_list_wrap {
    @extend %clear;
    height: px2rem(560px);
    overflow-y: hidden;
}

.m_list_item {
    float: left;
    @include box_sizing(border-box);
    width: px2rem(400px);
    margin-right: px2rem(22px);
    border: 1px solid #7effff;
    border-radius: px2rem(10px);
    overflow: hidden;
    &:first-child {
        margin-left: px2rem(52px);
    }
    &:last-child {
        margin-right: px2rem(52px);
    }
    .detail {
        position: relative;
        height: px2rem(400px);
    }
    .detailName {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: px2rem(92px);
        background: url(../images/bg_mask@3x.png) no-repeat;
        background-size: contain;
        line-height: px2rem(82px);
        text-align: center;
        font-size: px2rem(40px);
        font-weight: bold;
        color: #403328;
        text-shadow: 0 0 2px #faf49a, 0 0 2px #faf49a;
        @extend %text_ellipsis;
    }
    .detailImg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-bottom: 1px solid #7effff;
        border-radius: px2rem(10px);
    }
    .w_icon_Tag {
        position: absolute;
        left: -1px;
        bottom: px2rem(-15px);
        @extend %text_ellipsis;
    }
    .action {
        height: px2rem(150px);
        background: rgba(33, 67, 98, .5);
        overflow: hidden;
        .w_button {
            display: block;
            margin: px2rem(20px) auto 0;
        }
    }
}

.m_tips {
    margin: px2rem(30px 52px);
    font-size: px2rem(26px);
    color: #138585;
    .w_icon_tip {
        margin-right: px2rem(20px);
        vertical-align: px2rem(-8px)
    }
}

// icon
.w_icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.w_icon_Tag {
    width: px2rem(393px);
    height: px2rem(76px);
    background-image: url(../images/icon_tag@3x.png);
    @include box_sizing(border-box);
    padding: px2rem(0px 5px);
    line-height: px2rem(70px);
    text-align: center;
    font-size: px2rem(36px);
    font-weight: bold;
    color: #403328;
    text-shadow: 0 0 2px #faf49a, 0 0 2px #faf49a;
}

.w_icon_tip {
    width: px2rem(38px);
    height: px2rem(38px);
    background-image: url(../images/icon_tip@3x.png);
}

.w_icon_Close {
    width: px2rem(71px);
    height: px2rem(69px);
    background-image: url(../images/icon_close@3x.png);
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999px;
}

// button 
.w_button {
    @include box_sizing(border-box);
    display: inline-block;
    width: px2rem(345px);
    height: px2rem(122px);
    line-height: px2rem(110px);
    background: url(../images/bg_button@3x.png) no-repeat;
    background-size: contain;
    text-align: center;
    color: #fff;
    font-size: px2rem(36px);
    font-weight: bold;
    cursor: pointer;
    &:active {
        @include transform(scale(.95));
    }
}

.w_button_Disabled {
    background-image: url(../images/bg_button_Disabled@3x.png);
    color: #d9d9d9;
    &:active {
        @include transform(scale(1));
    }
}